<div >
	<nav class="navbar navbar-light bg-light">
    	<label for="EffectiveDateFrom" class="col-sm-3 col-form-label">Effective Date From:</label>
    	<div class="col-sm-3">
     		 <input type="date" id="date" ng-model="corporateAction.effectiveDateFrom" class="form-control" value="2018-12-31"/>     		
    	</div>
    	<label for="EffectiveDateTo" class="col-sm-2 col-form-label">Effective Date To:</label>
    	<div class="col-sm-3">
     		 <input type="date" id="date" ng-model="corporateAction.effectiveDateTo" class="form-control" value="2018-12-31"/>     		
    	</div>
    	<div class="col-sm-1"> <button ng-click="search()" class="btn btn-primary">Go</button></div>
   	</nav>
   	<br>
	<div class="gridStyle" style="border: 5px solid #d4d4d4; width: 1100px;  height: 500px" ng-grid="gridOptions"></div>
</div>

