<div >
	<nav class="navbar navbar-light bg-light">
    	<label for="SelectEffectiveDate" class="col-sm-4 col-form-label">Select Effective Date:</label>
    	<div class="col-sm-4">
     		 <input type="date" id="date" ng-model="corporateAction.effectiveDateFrom" class="form-control" value="2018-12-31"/>     		
    	</div>
    	<div class="col-sm-4"> <button ng-click="search()" class="btn btn-primary">Go</button></div>
    	<label for="SelectEffectiveDate" class="col-sm-4 col-form-label"></label>
   	</nav>
	
	
  <div class="row" >
  	<div class="col-sm-12">
  		<ul class="nav nav-pills nav-stacked">
       	<li ng-class="{ active: isSet(1) }">
          	<a href ng-click="setTab(1)">Dividend</a>
       	</li>
       	<li ng-class="{ active: isSet(2) }">
          	<a href ng-click="setTab(2)">Stock Split</a>
       	</li>
       	<li ng-class="{ active: isSet(3) }">
          	<a href ng-click="setTab(3)">Spin Off</a>
       	</li>
     	</ul>
  	</div>
    <div class="col-sm-12">
  		<div class="jumbotron">
       		<div ng-show="isSet(1)">
          		<div class="gridStyle" style="border: 5px solid #d4d4d4; width: 1000px;  height: 300px" ng-grid="divGridOptions" ></div>
       		</div>
			<div ng-show="isSet(2)">
         		<div class="gridStyle" style="border: 5px solid #d4d4d4; width: 1000px;  height: 300px" ng-grid="splitGridOptions" ></div>
   			</div>
        	<div ng-show="isSet(3)">
          		<div class="gridStyle" style="border: 5px solid #d4d4d4; width: 1000px;  height: 300px" ng-grid="spinGridOptions" ></div>
     		</div>
  		</div>
  	</div>
</div>
	
</div>

