<div id="content">

	<div ng-show="showdiv" >
	<nav class="navbar navbar-light bg-light">
   		<select name="WeightType" ng-change="updateIndexSetup()" ng-model="index.setupType" id="wType" class="form-control"  >
	   		<option value="" >Please Select</option >
	    	<option value="SI" >Single Index Setup </option >
	    	<option value="MI" >Multiple Index Setup </option >
  		</select >
  		</nav>
  	</div>
  	<br>
  	<div ng-show="showdiv1" class="divone" >
		<div  class="divone">
			<div class="input-group mb-3">
				<button ng-click="getTemplate()" class="btn btn-secondary">Get Multiple Index File Template</button>
			</div>
			<br>
			<div class="input-group mb-3">
	 			<div class="custom-file">
	   				<input type="file" file-model="myFile" size="20" text="hkjhkhk" >
	  			</div>
			</div>
			<div class="input-group mb-3">
				<button ng-click="next()" class="btn btn-primary btn-lg btn-block">Next</button>
			</div>
		</div>
	</div>
	
	<div class="divone"  style="font-family: Arial;width: 100%"   ng-show="showdiv2" >
	 <form name="indexForm" ng-submit=" next()" >
	 	<div class="form-row">
	 		<div class="form-group col-md-4">
    			<label for="ClientName">Client Name:</label>
   				<select ng-model="SingleIndex.ClientName" class="form-control" required>
					<option value="">-Select Client-</option>
			    	<option data-ng-repeat="client  in ClientData"  value="{{client.clientName}}">{{client.clientName}}</option>
				</select>
			</div>
			<div  class="form-group col-md-4">
				<label for="date" >Index live Date:</label >
				 
		    	<input type="date" name="index_date" id="index_date" ng-model="SingleIndex.IndexLiveDate"  value="2018-12-31" class="form-control"  required>
	    	</div >
	    	<div class="form-group col-md-4">
			    <label for="Currency" >Currency:</label >
				<select ng-model="SingleIndex.Currency" class="form-control" required>
				    <option value="">-Select Currency-</option>
				    <option data-ng-repeat="currency in CData"  value="{{currency.currencySymbol}}">{{currency.currencySymbol}}</option>
				</select>			
			</div >
 		</div>
	 	<div class="form-row">
    		<div class="form-group col-md-4">
      			<label for="IndexName">Index Name:</label>
      			<input type="text" ng-model="SingleIndex.IndexName" class="form-control" id="IndexName" cols="10" rows="30" required >
    		</div>
    		<div class="form-group col-md-4">
      			<label for="IndexTicker">Index Ticker:</label>
      			 <input type="text" ng-model="SingleIndex.IndexTicker"  id="IndexTicker"  class="form-control" required>
    		</div>
    		<div class="form-group col-md-4" >
			   <label for="Zone" >Zone:</label >
			   <select name="Zone" ng-model="SingleIndex.Zone" id="Zone" class="form-control" required>
				    <option value="" >Please Select</option >
				    <option value="AR" >Americas Region</option >
				    <option value="ER" >European Region</option >
				    <option value="APR" >Asia/Pacific Region</option >
			  	</select >
		  	</div >
  		</div>
	 	<div class="form-row">
    		<div class="form-group col-md-4">
      			<label for="Index Value" >Index Value:</label >
      			<input type="number" ng-model="SingleIndex.IndexValue"  id="IndexValue" class="form-control" ng-required="true" min="1.0" value="0.0" step=".01">
    		</div>
    		<div class="form-group col-md-4">
      			<label for="Index Market Value" >Index Market Value:</label >
      			 <input type="number" ng-model="SingleIndex.IndexMarketValue"  id="IndexMarketValue" class="form-control" ng-required="true" min="1.0" value="0.0" step=".01" >
    		</div>
    		<div class="form-group col-md-4"  >
				<label for="Type of Index" >Type of Index</label >
		    	<select name="Type of Index" id="TypeofIndex" ng-model="SingleIndex.IndexType" class="form-control" required>
		    		<option value="" >Please Select</option >
		        	<option value="PR" >PR</option >
		        	<option value="GTR" >GTR</option >
		        	<option value="NTR" >NTR</option >
				</select >
			</div >
	  	</div>
		<div class="form-row">
		<div class="form-group col-md-4" >
			<label for="Normal cash dividend adjustment" >Normal Cash Dividend Adjustment:</label >
		    <select name="Normal cash dividend adjustment" ng-model="SingleIndex.NCashDivAdj" id="Normalcashdividendadjustment" class="form-control" required >
				<option value="" >Please Choose</option >
		        <option value="DA" >Divisor Adjustment</option >
		        <option value="SA" >Stock Adjustment</option >
			</select >
		</div >
		<div class="form-group col-md-4" >
			<label for="Special cash dividend adjustment" >Special Cash Dividend Adjustment:</label >
		    <select name="Special cash dividend adjustment" ng-model="SingleIndex.SNCashDivAdj" id="Specialcashdividendadjustment" class="form-control" required>
				<option value="" >Please Select</option >
		        <option value="DA" >Divisor Adjustment</option >
		        <option value="SA" >Stock Adjustment</option >
			</select >
		</div >
		<div class="form-group col-md-4" >
		    <label for="Dissemination Source" >Dissemination Source:</label >
		    <select name="Dissemination Source" ng-model="SingleIndex.DisseminationSource" id="DisseminationSource" class="form-control"  >
				<option value="" >Please Choose</option >
		        <option value="Email" >Email</option >
		        <option value="SFTP" >SFTP</option >
			</select >
		</div >
		</div>
		<div >
			<input type="submit" value="Next"  class="btn btn-primary btn-lg btn-block"/>
			<!-- <button name="next"  ng-click="next()" class="btn btn-primary btn-lg btn-block">Next </button>-->
		</div>
		</form>
	</div>  
	<div  ng-show="showdiv3">
		<div>
			<button ng-click="getSecurityMapTemplate()"  class="btn btn-secondary">Get Security Map File Template</button>
		</div>
		<br>
		<div class="input-group mb-3">
 			<div class="custom-file">
   				<input type="file" file-model="SecurityMapFile" size="20">&nbsp;&nbsp;
				<button ng-click="SubmitIndexData()" class="btn btn-primary">Submit Index Data</button>&nbsp;&nbsp;
				<button ng-click="back()"  class="btn btn-primary">Back</button>&nbsp;&nbsp;
				<button ng-click="cancel()"  class="btn btn-primary">Cancel</button>
			</div>
		</div>
	</div>
</div>